$font-headline1-family: 'Montserrat-ExtraBold', sans-serif;
$font-headline1-weight: 800;
$font-headline1-size: 3em;
$font-headline1-line-height: 64px;

$font-headline2-size: 2.5em;
$font-headline2-line-height: 54px;


$font-headline3-size: 1.75em;
$font-headline3-line-height: 40px;

$font-headline4-family: 'Montserrat-Medium', sans-serif;
$font-headline4-weight: 500;
$font-headline4-size: 1.125em;
$font-headline4-line-height: 28px;

$font-label-family: 'Montserrat-Bold', sans-serif;
$font-label-weight: 700;
$font-label-size: 1em;
$font-label-line-height: 20px;

$font-body1-family: 'Montserrat-Light', sans-serif;
$font-body1-weight: 300;
$font-body1-size: 1em;
$font-body1-line-height: 26px;

$font-body2-size: 0.875em;
$font-body2-line-height: 22px;

